.audio-recorder {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.audio-recorder > div {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.audio-recorder > div button {
  cursor: pointer;
}

.audio-recorder > div button:disabled {
  cursor: not-allowed;
}
