.home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  padding: 8px 12px;
}

.home > div:first-child > h1 {
  padding: 0;
}

.home > div:first-child > div {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 8px;
}

.home > div:first-child > div select {
  padding: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.home > div:first-child > div button {
  padding: 4px;
  cursor: pointer;
}

.home > div:first-child > div a {
  color: inherit;
  text-decoration: none;
}

.home > div:last-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
