.home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home > div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  padding: 8px 12px;
}

.home h1 {
  padding: 0;
}

.home > div > div {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 8px;
}

.home select {
  padding: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.home button {
  padding: 4px;
  cursor: pointer;
}

.home a {
  color: inherit;
  text-decoration: none;
}
