.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.home h1 {
  text-align: center;
}

.home div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.home button {
  padding: 4px;
  cursor: pointer;
}

.home a {
  color: inherit;
  text-decoration: none;
}
