.user-auth {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.user-auth h1 {
  text-align: center;
}

.user-auth form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.user-auth form input, button {
  padding: 4px;
}

.user-auth form button {
  margin-top: 8px;
  text-align: center;
  cursor: pointer;
}
